.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #546e7a;
  transition: box-shadow .25s;
  border-radius: 2px;
  height: 220px;
  width: 510px;
  display: inline-block;
  margin: 18px;
  box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, 0.32);

  .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    color: white;

    .card-title {
      line-height: 48px;
    }
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 300;
    display: flex;
    justify-content: center;
  }

  .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    a {
      color: #ffab40;
      margin-right: 20px;
      transition: color .3s ease;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: #ffd8a6;
      }
    }
  }
}
