<!DOCTYPE html>
<html>
  <head>
    <title>Toornament API Test</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script>
      window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <script src="/bundle.js">
    </script>
  </body>
</html>